<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name Output of ejs</title>
  </head>
  <body>
    <h1>Output of First Name and Last Name</h1>
    <h2>First Name: <%= firstName %></h2>
    <h2>Last Name: <%= lastName %></h2>
    <h2>Hello Full Name: <%= firstName + ' ' + lastName %></h2>
    <h3>Here is your contact info</h3>
    <ul>
      <li>Phone: <%= phone %></li>
      <li>Email: <%= email %></li>
      <li>Address: <%= address %></li>
      <li>City: <%= city %></li>
      <li>State: <%= state %></li>
      <li>ZIP: <%= zip %></li>
    </ul>
  </body>
</html>
